.text-gray{
	color:  #999999;
}
.black{
	color: black;
}
.margin-top{
    margin-top: 26px;
}
.t-white{
	color: white;
}
.darksalmon{
	color: darksalmon;
}
.padding-l{

}
.margin-l {
    margin-left: 10px;
}
.bg-gray{
	background-color: #6A6A6A;
    padding: 29px;
    height: 72px;
    margin-top: -21px;
}
.block{
	display: block;
}